// colors
$primary: #E1651F;
$white: #fff;
$bg-color: #E5E5E5;
// theme mixin
$theme-colors: ( "primary": $primary);
// font families
$main-font: Poppins,
serif;
$quote-font: 'Oleo Script Swash Caps',
serif;