<div id="banner" class="h-100">
    <div class="container-lg h-100 pt-5">
        <div class="row h-100 pt-5">
            <div class="col-md-6 offset-md-6">
                <div class="">
                    <span class="quotation-mark">
                        “
                    </span>
                    <div class="mt-lg-5 px-2">
                        <span class="default-quote">
                            {{defaultQuote.quote}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>