<div id="banner" class="h-100">
    <div class="container-lg h-100 pt-5">
        <div class="row h-100 pt-5">
            <div class="col-md-6 offset-md-6">
                <div class="">
                    <span class="quotation-mark">
                        “
                    </span>
                    <div class="mt-lg-5 px-2">
                        <span class="default-quote">
                            {{defaultQuote.quote}}
                        </span>
                    </div>
                    <div class="mt-3 t-lg-5 text-lg-end me-5 text-end">
                        <span class="author">{{defaultQuote.author}}</span>
                    </div>
                    <div class="mt-5 text-lg-end me-5">
                        <button class="btn-primary btn px-4" (click)="openModal = true">
                            Create Quote
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-add-quote-modal (modalClosed)="openModal=false" [open]="openModal" (addNewQuoteEvent)="addNewQuote($event)"></app-add-quote-modal>