@import "variables";
@import "/node_modules/bootstrap/scss/functions";
@import "/node_modules/bootstrap/scss/variables";
@import "/node_modules/bootstrap/scss/mixins";
#banner {
    background-image: url('assets/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: $white;
    * {
        font-family: $quote-font;
    }
    .quotation-mark {
        font-size: 80px;
        color: $primary;
        line-height: 90px;
        @include media-breakpoint-down(md) {
            line-height: 80px;
            color: $white;
        }
    }
    .author {
        font-size: 25px;
    }
    .default-quote {
        font-size: 50px;
        @include media-breakpoint-down(md) {
            font-size: 45px;
        }
    }
    button {
        font-family: $main-font;
    }
}