<section id="quotes-section" class="py-5 container-fluid">
    <div class="d-flex justify-content-center">
        <h1 class="section-title text-center pb-4">Quotes</h1>
        <div class="ms-auto">
            <button class="btn-primary btn px-4" (click)="openModalEvent.emit()">Create Quote</button>
        </div>
    </div>
    <div class="row px-2 px-xl-3">
        <app-quote *ngFor="let quote of quotes" [quote]="quote" [appHighlightQuote]="highlightQuote(quote.id)" (deleteQuoteEvent)="deleteQuote($event)" class="col-sm-6 col-lg-4 col-xl-3 mb-4"></app-quote>
    </div>
</section>