<div class="quote shadow px-3 pt-5 pb-2">
    <div class="quote-upper">
        <div class="d-flex">
            <div class="quotation-mark">“</div>
            <div class="ms-auto">
                <span class="highlight bg-primary text-white rounded-pill px-2">
                    popular
                </span>
            </div>
        </div>
        <div class="quote-text">
            <span class="">
        {{ quote.quote }}
        -
        <span class="author text-primary">{{ quote.author }}</span>
            </span>
        </div>
        <div class="info row mt-3">
            <div class="col-6">
                {{ quote.createdAt | timeElapsed }}
            </div>
            <div class="col-6 text-end">by {{ quote.createdBy }}</div>
        </div>
        <div class="">
            <app-quote-details (deleteQuoteEvent)="deleteQuote()" [quote]="quote"></app-quote-details>
        </div>
    </div>
</div>