@import "variables";
.quote {
    background: $white;
    .quotation-mark {
        font-family: $quote-font;
        color: $primary;
        font-size: 70px;
        line-height: 20px;
        margin-top: $spacer;
    }
    .quote-text span {
        font-family: $quote-font;
        font-size: 23px;
    }
    .info {
        font-size: 14px;
    }
    .highlight {
        font-size: calc($spacer * 0.8);
    }
}